@import 'utilities.css';
:root{
  --primary: #3DCFD3;
  --dark: #161616;
  --pure: #FFFFFF;
  --ternary: #898989;
  --light: #F2F2F2;
  --secondary:#070606;

}


body{
  font-family: Poppins, sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}

header {
  background: var(--dark);
  /* height: 800px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container{
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;

}

header nav .left a{
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

header nav .left a:hover{
  color: var(--primary);
}

header nav{
  padding: 2rem 0;
}

header nav .branding{
  margin-right: 3rem;
}
.hero{
  padding: 3rem 0;
}
.hero .left img{
  width: 400px;
}

.hero .right{
  color: var(--pure);
}

.hero .right h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right h1{
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span{
  color: var(--primary);
}

.hero .right p{
  line-height: 1.9;
  margin-bottom: 2rem;
}
.hero .right{
  margin-top: -7rem;
}
/* This provide padding to the section from top-bottom */
section{
  padding: 6rem 0;
}

section.about .about-me-img{
  height: 450px;
}

section.about h1{
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

section.about h1 span{
  color: var(--primary);
}

section.about h3{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

section.about p{
  font-family: 'Lato' ,sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem;
}

section.about .social{
  display: flex;
}
section.about .social a{
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
section.about .social a:hover{
  background: var(--primary);
}
section.about .social a img{
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.section-heading{
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}
.section-heading + p{
  color: var(--ternary);
  text-align: center;
  margin-bottom: 8rem;
  font-family: 'Lato',sans-serif;
}

.section-heading span{
  color: var(--primary);
}
/* grid is powerful attribute  */
/* It will make the column of 3 */
/* 6 linear card-div divided into column of 3 */
.services{
  background: var(--light);
}
section.services .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* The above can be done in below way also */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}

section.services .card-wrapper .card{
  background: var(--pure);
  padding: 3rem 2rem;
  padding-top: 5rem;
  /* It will overwrite the padding only for top */
  text-align: center;
  position: relative;
  /* It is important to do as we have done "absolute" in the card img, so we have to inform in whom relative it should move */

  /* Otherwise it will move in realtive to the page and move to top  */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

section.services .card-wrapper .card img{
  position: absolute;
  /* When we do absoolute the text and image overlay each other */
  top: -3.5rem;
  /* To move the card up */
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  /* The left will move the starting part of the img to the center */
  /* So we need transform, it is used to move img in X direction */
}

section.services .card-wrapper .card h2{
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p{
  font-family: 'Lato',sans-serif;
  var(--ternary);
  line-height: 1.6;
}

section.services .card-wrapper .card:hover{
  background: var(--dark);
}

section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
  color: var(--pure);
}

section.freelancer{
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
  /* The background is not normal */
  /* In this background, we have imaage and overlay above it */
  /* The last one is for opacity, if we keep one then we cannot see anything */
  /* Two dots in url is because we have to come out of css folder and then move to image folder */
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  padding-bottom: 14rem;
}
section.freelancer h1{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

section.freelancer p{
  margin-bottom: 2rem;
  font-family: 'Lato',sans-serif;
}


section.reviews .slider .slide img{
  height: 100px ;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.6rem;
  /* Border radius to make the img round */
  object-fit: cover;
  /* if the image width and height are different and with same heigh and width, we are making it square.  */
  /* It will get stretch */
  margin-bottom: 2rem;
}

section.reviews .slider .slide{
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 12rem;
}

section.reviews .slider .slide p{
  font-family: 'Lato',sans-serif;
  color: var(--ternary);
  margin-bottom: 1rem;
}

section.reviews .slider .slide span{
  font-size: 0.8rem;
}

section.reviews .slider-dots .dots{
  list-style-type: none;
  display: flex!important;
  justify-content: center;
}

section.reviews .slider-dots{
  margin-top: 3rem;
}

section.reviews .slider-dots button{
  font-size: 0;
  width: 8px;
  height: 5px;
  background: var(--ternary);
  margin-right: 0.3rem;
  border: none;
  outline: none;
  margin-right: 0.3rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

section.reviews .dots li.slick-active button{
  background: var(--primary);
  width: 20px;
}
